


@media screen and (min-width: 1020px) {
  input[type="text"] {
    max-width: 460px;
  }
  
  .gallery a {
    display: inline-block;
    margin: 0 2% 30px 2%;
  }
  
  .gallery a:nth-child(n+1) {
    margin-top: 10px;
  }
  
  
  
}
